<!DOCTYPE html>
<html lang="en">
<head>
  <title>Website Name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script>
function r(){
     var x="<%=msg%>";
     if("<%=msg%>")
	 {document.getElementById("log").innerHTML="<li><a href='logout'>You are login as "+x+"</a></li>";}
	 }
	 </script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">kiwee</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="mainpage">Home</a></li>
      <li class="active"><a href="shotel">Serach Hotel</a></li>
      <li><a href="aboutus">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="log">
      <li><a href="signin"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
	<script>
	r();
	</script>
  </div>
</nav>
  
<div class="container">
  <center><h1>Vrindavan</h1></center>
  <center><h3>Dishes With ratings</h3></center>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dishname</th>
        <th>Ratings</th>
      </tr>
    </thead>
    <tbody>
	
      <tr>
        <td><a href="biryani">Biryani</a></td>
        <td><%=x%></td>
      </tr>
	 
	  
      <tr>
        <td><a href="vegk">Vej Kolhapuri</a></td>
        <td><%=y%></td>
        
      </tr>
      <tr>
        <td><a href="frr">Schezwan fried rice</a></td>
        <td><%=z%></td>
        
      </tr>
    </tbody>
  </table>
  <center><h4>Click on dishes to add Reviews</h4></center>
</div>

</body>
</html>
